.DS_Store
*.pyc
*.swp
.vscode
.idea

# Python and Virtual Environment
__pycache__
bin/
include/
lib/
pyvenv.cfg

# Test drivers license images
mont-front.jpeg
mont-back.jpeg

# locust output
*failures.csv
*stats_history.csv
*stats.csv

# tests
.pytest_cache
.coverage
